name: Teste Automatizado

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - name: Install Xvfb
        run: |
          sudo apt-get install xvfb
          Xvfb :99 -ac &
      - name: Install Google Chrome
        run: |
          sudo apt-get install libxss1 libappindicator1 libindicator7
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install ./google-chrome*.deb
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - uses: eskatos/gradle-command-action@v1
        with:
          arguments: bdd -Ptag=@CRUDPROJ@CRUDEXP
          build-root-directory: cucumber-geb
          gradle-version: 4.0.1
        env:
          DISPLAY: :99